config SHIELD_AZELUS6_LEFT
    def_bool $(shields_list_contains,azelus6_left)
config SHIELD_AZELUS6_RIGHT
    def_bool $(shields_list_contains,azelus6_right)
config SHIELD_AZELUS6_DONGLE
    def_bool $(shields_list_contains,azelus6_dongle)