#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"
#include "key-labels.h"

#define ANYMAK  0
#define COLEMAK 1
#define TESTS   2
#define SYM     3
#define NAVF    4
#define CONTROL 5
#define ROOT    6
#define MISC    7

#define xxxx &none 
#define ____ &trans

#define KEYS_L LN2 LT1 LT2 LT3 LT4 LT5 LT6 LM1 LM2 LM3 LM4 LM5 LM6 LB1 LB2 LB3 LB4 LB5 LB6  // left hand
#define KEYS_R RN2 RT1 RT2 RT3 RT4 RT5 RT6 RM1 RM2 RM3 RM4 RM5 RM6 RB1 RB2 RB3 RB4 RB5 RB6  // right hand
#define THUMBS LH0 LH1 LH2 LH3 LH4 RH0 RH1 RH2 RH3 RH4                                      // left+right thumb

/* use balanced flavor for both mod-tap and layer-tap */
&mt {
    flavor = "balanced";
};
&lt {
    flavor = "balanced";
};


/* Home Row Mod behaviors for right and left hand side.
   Based on urob's timerless home row mods: https://github.com/urob/zmk-config?tab=readme-ov-file#timeless-homerow-mods
 */
/{
    behaviors {
         hmr: hmr {
             compatible = "zmk,behavior-hold-tap";
             flavor = "balanced";
             tapping-term-ms = <280>;
             require-prior-idle-ms = <150>;
             hold-trigger-key-positions = <KEYS_L THUMBS>;
             hold-trigger-on-release;
             #binding-cells = <2>;
             bindings = <&kp>, <&kp>;
        };
    };

    behaviors {
         hml: hml {
             compatible = "zmk,behavior-hold-tap";
             flavor = "balanced";
             tapping-term-ms = <280>;
             require-prior-idle-ms = <150>;
             hold-trigger-key-positions = <KEYS_R THUMBS>;
             hold-trigger-on-release;
             #binding-cells = <2>;
             bindings = <&kp>, <&kp>;
         };
     };

    // Special (timerless) layer-tap. Triggers hold when right-hand keys are pressed to reduce misfires with backspace and arrows (on NAV layer).
    behaviors {
         tllt: tllt {
             label = "Layer-Tap(tl)";
             compatible = "zmk,behavior-hold-tap";
             flavor = "balanced";
             tapping-term-ms = <280>;
             quick-tap-ms = <175>;
             require-prior-idle-ms = <75>;
             hold-trigger-key-positions = <KEYS_R>;
             hold-trigger-on-release;
             #binding-cells = <2>;
             bindings = <&mo>, <&kp>;
        };
    };

};

#define NAV(key)    &tllt NAVF key


// base
#define MUTE_MIC        &kp LG(LS(M))
#define TOG_DESK_LIGHT  &kp LG(LC(LA(E)))

// nav
#define APP_MENU        &kp LC(F2)
#define START_OF_LINE   &kp LG(LEFT)
#define END_OF_LINE     &kp LG(RIGHT)

#define IJ_NEXT_ERROR   &kp LG(LS(LC(RIGHT)))
#define IJ_RUN          &kp LC(LA(R))
#define IJ_NAV_BACK     &kp LG(LA(LEFT))
#define IJ_EXPAND_SEL   &kp LA(UP)
#define IJ_SHRINK_SEL   &kp LA(DOWN)
#define IJ_TERMINAL     &kp LG(N3)
#define IJ_PROJECT      &kp LG(N0)
#define IJ_EDITOR       &kp LG(N9)
#define IJ_COMMIT       &kp LG(N2)

// control
#define NEXT_TAB        &kp LC(LS(TAB))
#define PREV_TAB        &kp LC(TAB)
#define NEW_TAB         &kp LG(T)
#define CLOSE_TAB       &kp LG(W)

#define RELOAD          &kp LG(R)
#define SAVE            &kp LG(S)
#define UNDO            &kp LG(DE_Z)
#define REDO            &kp LG(LS(DE_Z))

#define CUT             &kp LG(X)
#define COPY            &kp LG(C)
#define PASTE           &kp LG(V)
#define IJ_DEL_LINE     &kp LG(D)

/ {
    keymap {
        compatible = "zmk,keymap";

        base1 {

        /*
            Changes to vanilla Anymak:END
            - NR instead of RN (personal preference: redistributes finger balance more to the right middle)
            - place äü in their original KOY positions
            - move F to bottom row (also personal preference)
            - move J inwards, to top row (pinky)

            Trial:
            - test HomeRow Mods (and try to avoid outer pinky keys)
            - move ö+ß to combos
            - move . and ,
            - keep BACKSPACE on BASE layer as a fallback
            - APOS (') on right thumb

            Removed:
            - sticky shift
            - hyphen as combo
        */

            bindings = <
                                                                &mt C_VOICE_COMMAND ESC                                                          &kp KP_SLASH
xxxx      &kp Q              &kp K             &kp O            &kp U              &kp DE_Y                                    &kp V             &kp D         &kp C          &kp L         &kp J    xxxx
xxxx      &lt CONTROL H      &hml LCTRL A      &hml LALT E      &hml LGUI I        &kp DOT                                     &kp G             &hmr LGUI T   &hmr LALT N    &hmr LCTRL R  &kp S    &kp BACKSPACE
xxxx      &kp COMMA          &kp DE_Z          &kp DE_A_UMLAUT  &kp DE_U_UMLAUT    &kp X                                       &kp B             &kp P         &kp M          &kp W         &kp F    xxxx
                             TOG_DESK_LIGHT    &kp DEL          &mt DE_GRAVE TAB   &kp LSHFT     &mo SYM            &kp RET    NAV(SPACE)        &kp DE_APOS   &mo ROOT       MUTE_MIC

            >;
            display-name = "Anymak:END";
        };

        base2 {
            bindings = <
                                                              &mt C_VOICE_COMMAND ESC                                                               &kp KP_SLASH
&mt DE_GRAVE TAB   &kp Q           &kp W            &kp F     &kp P                    &kp B                                      &kp J             &kp L      &kp U        &kp DE_Z     &kp DE_U_UMLAUT  &kp DE_A_UMLAUT
&kp LGUI           &lt CONTROL A   &kp R            &kp S     &kp T                    &kp G                                      &kp M             &kp N      &kp E        &kp I        &kp O            &kp BACKSPACE
&kp LCTRL          &kp DE_Y        &kp X            &kp C     &kp D                    &kp V                                      &kp K             &kp H      &kp COMMA    &kp DOT      &kp DE_MINUS     &kp DE_SZ
                                   TOG_DESK_LIGHT   &kp DEL   &kp LALT                 &kp LSHFT   &mo SYM             &kp RET    NAV(SPACE)        xxxx       &mo ROOT     MUTE_MIC
            >;
            display-name = "Colemak-DH";
        };

        base3 {
            bindings = <
                              xxxx                                     xxxx
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx
                xxxx   xxxx   xxxx   xxxx   xxxx         xxxx   xxxx   xxxx   xxxx   xxxx
            >;
            display-name = "Playground";
        };

        sym {

            /*
                - block RET from layer below to avoid mistypes
                - make N0 layer-tap to NAV and thus make BACKSPACE accessible on SYM layer
            */

            bindings = <
                                                             &kp DE_PIPE_M                                                                ____
&kp DE_AMPS   &kp DE_AT_M    &kp DE_DQT      &kp DE_DLLR     &kp DE_LBRC_M  &kp DE_RBRC_M                                 &kp DE_TILDE_M  &kp N7      &kp N8          &kp N9   &kp DE_PLUS   &kp DE_APOS
&kp DE_POUND  &kp DE_EXCL    &kp DE_EQUAL    &kp DE_COLON    &kp DE_LPAR    &kp DE_RPAR                                   &kp DE_ASTRK    &kp N4      &kp N5          &kp N6   &kp DOT       ____
&kp DE_EURO   &kp DE_QMARK   &kp DE_LT_M     &kp DE_GT_M     &kp DE_LBKT_M  &kp DE_RBKT_M                                 &kp N0          &kp N1      &kp N2          &kp N3   &kp DE_MINUS  &kp DE_ACUTE
                             &kp DE_DEG_M    &kp DE_CARET_M  ____           ____           ____                 xxxx      NAV(N0)         &kp SPACE   &kp DE_BSLH_M   xxxx
            >;
            display-name = "Sym (Mac)";
        };

        navf {

            /*
                - add ALT (home row mod) to NAVF layer (F5) to avoid timing mistakes, as it allows ALT and NAVF (for arrows) to be pressed in any order.
                Trial:
                - BACKSPACE on NAVF layer
            */

            bindings = <
                                           ____                                                             APP_MENU
xxxx     xxxx    &kp F7    &kp F8          &kp F9    &kp F10                                &kp PG_UP       START_OF_LINE     &kp UP           END_OF_LINE     IJ_RUN           IJ_PROJECT
xxxx     xxxx    &kp F4    &hml LALT F5    &kp F6    &kp F11                                &kp PG_DN       &kp LEFT          &kp DOWN         &kp RIGHT       &kp BACKSPACE    IJ_NEXT_ERROR
xxxx     xxxx    &kp F1    &kp F2          &kp F3    &kp F12                                IJ_NAV_BACK     IJ_EXPAND_SEL     IJ_SHRINK_SEL    &kp DEL         IJ_TERMINAL      IJ_COMMIT
                 xxxx      ____            ____      ____      ____                ____     ____            ____              ____             xxxx
            >;
            display-name = "Nav/Function (Mac)";

        };

        control {
            bindings = <
                                      xxxx                                                             MUTE_MIC
 xxxx    xxxx   NEXT_TAB   PREV_TAB   NEW_TAB    CLOSE_TAB                                   xxxx      &kp K_VOL_UP    &kp C_BRI_UP    xxxx    xxxx    xxxx
 xxxx    xxxx   RELOAD     SAVE       UNDO       REDO                                        xxxx      &kp K_VOL_DN    &kp C_BRI_DN    xxxx    xxxx    xxxx
 xxxx    xxxx   CUT        COPY       PASTE      IJ_DEL_LINE                                 xxxx      &kp K_MUTE      xxxx            xxxx    xxxx    xxxx
                xxxx       xxxx       xxxx       xxxx           xxxx                 xxxx    xxxx      xxxx            xxxx            xxxx
            >;
            display-name = "Control";
        };

        root {
            bindings = <
                                                 &bootloader                                                &studio_unlock
 &to ANYMAK   xxxx    xxxx         &bt BT_SEL 0  xxxx         xxxx                                   xxxx   xxxx   xxxx   xxxx   xxxx   xxxx
 &to COLEMAK  xxxx    xxxx         &bt BT_SEL 1  xxxx         xxxx                                   xxxx   xxxx   xxxx   xxxx   xxxx   xxxx
 &to TESTS    xxxx    xxxx         &bt BT_SEL 2  xxxx         xxxx                                   xxxx   xxxx   xxxx   xxxx   xxxx   xxxx 
                      xxxx         &bt BT_CLR    xxxx         xxxx    xxxx          &studio_unlock   xxxx   xxxx   xxxx   xxxx 
            >;
            display-name = "Root";
        };

        misc {
            bindings = <
                              xxxx                                     xxxx 
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx 
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx 
 xxxx    xxxx   xxxx   xxxx   xxxx   xxxx                       xxxx   xxxx   xxxx   xxxx   xxxx   xxxx 
                xxxx   xxxx   xxxx   xxxx   xxxx         xxxx   xxxx   xxxx   xxxx   xxxx 
            >;
            display-name = "Misc";
        };
    };



    position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;
        layout1: layout1 {
            physical-layout = <&physical_layout0>;
            positions = <                LN2                   RN2                >
                       ,<LT6 LT5 LT4 LT3 LT2 LT1           RT1 RT2 RT3 RT4 RT5 RT6>
                       ,<LM6 LM5 LM4 LM3 LM2 LM1           RM1 RM2 RM3 RM4 RM5 RM6>
                       ,<LB6 LB5 LB4 LB3 LB2 LB1           RB1 RB2 RB3 RB4 RB5 RB6>
                       ,<        LH4 LH3 LH2 LH1 LH0   RH0 RH1 RH2 RH3 RH4        >
            ;
            // <side> <row> <column>
            // <Left|Right>
            // <Number|Top|Middle|Bottom|tHumb>
        };
    };

    #define COMBO_TIMEOUT 30  // default=50
    #define COMBO_TIMEOUT_VERTICAL 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TIMEOUT>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };
    #define VOMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TIMEOUT_VERTICAL>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_underscore,        RB3 RB4,    &kp LS(DE_MINUS),   COLEMAK ANYMAK TESTS)
        COMBO(cb_colemak_oe,        RM4 RM5,    &kp DE_O_UMLAUT,    COLEMAK)
        COMBO(cb_sym_percent,       LT4 LT3,    &kp DE_PRCNT,       SYM)

        COMBO(cb_anymak_hyphen,     RM3 RM4,    &kp DE_MINUS,       ANYMAK)

        VOMBO(cb_anymak_oe,         RT5 RM5,    &kp DE_O_UMLAUT,    ANYMAK)
        VOMBO(cb_anymak_sz,         RT4 RM4,    &kp DE_SZ,          ANYMAK)

        VOMBO(cb_anymak_ampersand,  LT5 LM5,    &kp DE_AMPS,        ANYMAK)
        VOMBO(cb_anymak_hash,       LM5 LB5,    &kp DE_POUND,       ANYMAK)
        VOMBO(cb_anymak_euro,       LM3 LB3,    &kp DE_EURO,        ANYMAK)

    };

/*
    conditional_layers {
        compatible = "zmk,conditional-layers";
        sym_tri_layer {
            if-layers = <LINUX SYM>;
            then-layer = <SYM_LIN>;
        };
    };
    */

    physical_layout0: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Physical Layout";
        transform = <&matrix_transform0>;
        kscan = <&kscan0>;
        keys =  <&key_physical_attrs 100 100  400    40      1000     700   450>
               ,<&key_physical_attrs 100 100  900    40    (-1000)    700   450>

               ,<&key_physical_attrs 100 100    0    170     1000     700   450>
               ,<&key_physical_attrs 100 100  100    160     1000     700   450>
               ,<&key_physical_attrs 100 100  200    120     1000     700   450>
               ,<&key_physical_attrs 100 100  300    100     1000     700   450>
               ,<&key_physical_attrs 100 100  400    140     1000     700   450>
               ,<&key_physical_attrs 100 100  500    150     1000     700   450>
               ,<&key_physical_attrs 100 100  800    150   (-1000)    700   450>
               ,<&key_physical_attrs 100 100  900    140   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1000    100   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1100    120   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1200    160   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1300    170   (-1000)    700   450>

               ,<&key_physical_attrs 100 100    0    270     1000     700   450>
               ,<&key_physical_attrs 100 100  100    260     1000     700   450>
               ,<&key_physical_attrs 100 100  200    220     1000     700   450>
               ,<&key_physical_attrs 100 100  300    200     1000     700   450>
               ,<&key_physical_attrs 100 100  400    240     1000     700   450>
               ,<&key_physical_attrs 100 100  500    250     1000     700   450>
               ,<&key_physical_attrs 100 100  800    250   (-1000)    700   450>
               ,<&key_physical_attrs 100 100  900    240   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1000    200   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1100    220   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1200    260   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1300    270   (-1000)    700   450>

               ,<&key_physical_attrs 100 100    0    370     1000     700   450>
               ,<&key_physical_attrs 100 100  100    360     1000     700   450>
               ,<&key_physical_attrs 100 100  200    320     1000     700   450>
               ,<&key_physical_attrs 100 100  300    300     1000     700   450>
               ,<&key_physical_attrs 100 100  400    340     1000     700   450>
               ,<&key_physical_attrs 100 100  500    350     1000     700   450>
               ,<&key_physical_attrs 100 100  800    350   (-1000)    700   450>
               ,<&key_physical_attrs 100 100  900    340   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1000    300   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1100    320   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1200    360   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1300    370   (-1000)    700   450>

               ,<&key_physical_attrs 100 100  200    430     1000     700   450>
               ,<&key_physical_attrs 100 100  300    410     1000     700   450>
               ,<&key_physical_attrs 100 100  400    480     1000     700   450>
               ,<&key_physical_attrs 100 100  500    480     1000     700   450>
               ,<&key_physical_attrs 100 100  600    480     1000     700   450>
               ,<&key_physical_attrs 100 100  700    480   (-1000)    700   450>
               ,<&key_physical_attrs 100 100  800    480   (-1000)    700   450>
               ,<&key_physical_attrs 100 100  900    480   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1000    410   (-1000)    700   450>
               ,<&key_physical_attrs 100 100 1100    430   (-1000)    700   450>
            ;
        };


};
